@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.logo {
  width: 32px;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#main, #canvas-container {
  margin: 0px;
}
#canvas-container {
  margin: 0px;
}

#Wide {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  height: 80vh;
  justify-content: center;
  display: flex;
  margin: auto;
}
.footer {
  position: fixed;
  bottom: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #646464;
  font-size: 0.8rem;
}

#logo {
  width: 15em;
}

.footer a {
  color: #6b84cc;
  text-decoration: none;
  margin: 0 0.25rem;
}

#btnContainer {
  /* position: relative; */
  transform: none;
  position: absolute;
  width: 100%;
  height:auto;
  top: 0px;
  left: 0px;
}
#full {
  /* position: absolute; */
  /* top: 2px;
  right: 3px; */
  /* transform: none; */
  position: 'absolute';
  width: 4rem;
  height: 4rem;
  border: none;
  padding: .5rem;
  margin: .5rem;
  background-color:rgba(255,255,255,0.8);
}
#fullmap-icon {
  width: 2em;
  height: auto;
}


